{% extends 'layouts/base.html' %}

{% block contenido %}

<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum at atque sit facilis itaque, est minus impedit esse tempora laborum possimus maiores voluptatum nesciunt eum. Consectetur, natus alias libero aspernatur similique quae fugiat quia velit ratione! Nam, optio animi qui deserunt voluptates maiores accusamus eveniet fuga esse quod? Beatae soluta minima vitae officia quaerat, sunt ipsam obcaecati error, tempora, a doloribus at provident veniam magnam exercitationem! Cum nulla iusto aperiam necessitatibus cumque illo ullam inventore molestias, corrupti minus nam exercitationem est iure tempore ut quisquam praesentium! Dicta et ipsum consequatur itaque earum! Expedita laborum excepturi tenetur unde neque totam sunt?</p>


{% endblock %}